<!-- FOOTER -->
<div class="footerSection topBottomSpacing bottomSpacing0">
    <div class="newsLatterSection" style="background-image: url('assets/images/newsletterBack.jpg');">
        <div class="newsLetterContent">
            <div class="newsLetterContentInn">
                <div class="newsletterHeader">
                    <h1 class="futura400">We promise not to spam you</h1>
                    <p>Don't miss a thing. Sign up to receive news and updates.</p>
                </div>
                <div class="newsletterInputBox">
                    <input class="newsletterinputField" type="text" name="email" placeholder="Email Address">
                    <input class="newsletterSubmitBtn" type="submit" name="signup" value="Sign Up">
                </div>
            </div>
        </div>
    </div>

    <div class="content-center">
        <div class="footer-wrapper style-1">
            <footer class="type-1">
                <div class="footer-columns-entry">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="footer-logo lazyload" src="assets/images/fashionLogo.png" alt="" />
                            <!--  <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div> -->
                            <div class="footer-address">30 South Avenue San Francisco<br/>
                                Phone: +78 123 456 789<br/>
                                Email: <a href="mailto:Support@blanco.com">Support@blanco.com</a><br/>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-xs-6 col-md-3 col-sm-4">
                            <h3 class="column-title pageTitle">Categories</h3>
                            <ul class="column">
                                <li><a href="/shop?category=shirts">Shirts</a></li>
                                <li><a href="/shop?category=tshirts">Tshirts</a></li>
                                <li><a href="/shop?category=trousers">Trousers</a></li>
                                <li><a href="/shop?category=shoes">Shoes</a></li>
                                <li><a href="/shop?category=dresses">Dresses</a></li>
                                <li><a href="/shop?category=tops">Tops</a></li>
                                <li><a href="/shop?category=bottom">Bottom</a></li>
                                <li><a href="/shop?category=skirts">Skirts</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="col-xs-6 col-md-3 col-sm-4">
                            <h3 class="column-title pageTitle">Our Services</h3>
                            <ul class="column">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Condition</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                        <div class="col-md-3 col-xs-12">
                            <h3 class="column-title pageTitle">Follow Us</h3>
                            <div class="newsLetterBox">
                                <div class="socials-box">
                                    <a href="#"><img src="assets/images/icons/facebook2.svg" alt="Facebook"></a>
                                    <a href="#"><img src="assets/images/icons/twitter10.svg" alt="Twitter"></a>
                                    <a href="#"><img src="assets/images/icons/youtube-squared13.svg" alt="Youtube"></a>
                                    <a href="#"><img src="assets/images/icons/linkedin4.svg" alt="linkedin"></a>
                                    <a href="#"><img src="assets/images/icons/instagram3.svg" alt="instagram"></a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom-navigation">
                    <div class="cell-view">
                        <div>2022 All right reserved</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>