<div class="profile-pages margin-top-pages">
    <div id="content-block">
        <app-header></app-header>


        <div class="content-center">
            <div class="profile-pages-wrapper content-push">
                <div class="row">

                    <app-profile-sidebar></app-profile-sidebar>

                    <div class="col-md-9">
                        <div class="profile-page-content box-shadow">
                            <div class="profileForm">
                                <div class="profileHead">
                                    <div class="profileHeadTitle title"><img src="assets/images/icons/wishlist12.svg" alt="wallet" title=""> Wishlist</div>
                                    
                                    <div class="clear"></div>
                                </div>

                                <div class="wishlistWrapper">
                                    <div class="wishlistWrapperInn">
                                        <div class="wishlistBox">
                                            <div class="wishlistLeft">
                                                <div class="orderProductBox">
                                                    <div class="productBox traditional-cart-entry">
                                                        <a class="image" href="#"><img class="lazyload" data-src="assets/images/products/product-11.jpg" alt=""></a>
                                                        <div class="content">
                                                            <div class="cell-view">
                                                                <div class="productHeading">
                                                                    <div class="productMainHeading pageTitle">FLORAL DRESS</div>
                                                                </div>
                                                                <!-- <div class="sizeText">
                                                                    <b>Size:</b> M
                                                                </div> -->
                                                                <div class="productPricing">
                                                                    <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                                                   <!--  <span class="productPrice discountPrice pageTitle">$10.290</span> -->
                                                                </div>
                                                                 <div class="quantity-selector detail-info-entry">
                                                                    <div class="entry number">Qty: 10</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wishlistRight">
                                                <div class="button style-10 move-to-cart-btn animatedBtn black">Move To Cart<input type="submit" value=""></div>
                                                <div class="button style-10 wishlist-remove-btn animatedBtn black">Remove<input type="submit" value=""></div>
                                            </div>
                                        </div>
                                        <div class="wishlistBox">
                                            <div class="wishlistLeft">
                                                <div class="productBox traditional-cart-entry">
                                                    <a class="image" href="#"><img class="lazyload" data-src="assets/images/products/product-22.jpg" alt=""></a>
                                                    <div class="content">
                                                        <div class="cell-view">
                                                            <div class="productHeading">
                                                                <div class="productMainHeading pageTitle">TROPICAL DRESS</div>
                                                            </div>
                                                            <!-- <div class="sizeText">
                                                                <b>Size:</b> M
                                                            </div> -->
                                                            <div class="productPricing">
                                                                <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                                               <!--  <span class="productPrice discountPrice pageTitle">$10.290</span> -->
                                                            </div>
                                                             <div class="quantity-selector detail-info-entry">
                                                                <div class="entry number">Qty: 10</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wishlistRight">
                                                <div class="button style-10 move-to-cart-btn animatedBtn black">Move To Cart<input type="submit" value=""></div>
                                                <div class="button style-10 wishlist-remove-btn animatedBtn black">Remove<input type="submit" value=""></div>
                                            </div>
                                        </div>
                                        <div class="wishlistBox">
                                            <div class="wishlistLeft">
                                                <div class="productBox traditional-cart-entry">
                                                    <a class="image" href="#"><img class="lazyload" data-src="assets/images/products/product-33.jpg" alt=""></a>
                                                    <div class="content">
                                                        <div class="cell-view">
                                                            <div class="productHeading">
                                                                <div class="productMainHeading pageTitle">OLIVE DRESS</div>
                                                            </div>
                                                            <!-- <div class="sizeText">
                                                                <b>Size:</b> M
                                                            </div> -->
                                                            <div class="productPricing">
                                                                <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                                               <!--  <span class="productPrice discountPrice pageTitle">$10.290</span> -->
                                                            </div>
                                                             <div class="quantity-selector detail-info-entry">
                                                                <div class="entry number">Qty: 10</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wishlistRight">
                                                <div class="button style-10 move-to-cart-btn animatedBtn black">Move To Cart<input type="submit" value=""></div>
                                                <div class="button style-10 wishlist-remove-btn animatedBtn black">Remove<input type="submit" value=""></div>
                                            </div>
                                        </div>
                                        <div class="wishlistBox">
                                            <div class="wishlistLeft">
                                                <div class="productBox traditional-cart-entry">
                                                    <a class="image" href="#"><img class="lazyload" data-src="assets/images/products/product-44.jpg" alt=""></a>
                                                    <div class="content">
                                                        <div class="cell-view">
                                                            <div class="productHeading">
                                                                <div class="productMainHeading pageTitle">FLORAL DRESS</div>
                                                            </div>
                                                            <!-- <div class="sizeText">
                                                                <b>Size:</b> M
                                                            </div> -->
                                                            <div class="productPricing">
                                                                <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                                               <!--  <span class="productPrice discountPrice pageTitle">$10.290</span> -->
                                                            </div>
                                                             <div class="quantity-selector detail-info-entry">
                                                                <div class="entry number">Qty: 10</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wishlistRight">
                                                <div class="button style-10 move-to-cart-btn animatedBtn black">Move To Cart<input type="submit" value=""></div>
                                                <div class="button style-10 wishlist-remove-btn animatedBtn black">Remove<input type="submit" value=""></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    
                                </div>
                                
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        <app-footer></app-footer>
    </div>
</div>