<div class="thank-you-page margin-top-pages">
    <div id="content-block">
        <app-header></app-header>

        <div class="content-center">
            <div class="content-push">
                <div class="thank-you-wrapper box-shadow">
                    <div class="orderSummaryTabs">
                        <!-- Order Summary start -->
                        <div class="order_summaryW">
                            <div class="order_summary_Head">
                                <a id="thankYouLogo" href="/"><img src="assets/images/fashionLogo.png" alt="" /></a>
                                <p class="youOrderPlacedPara">Order placed successfully <i class="fa fa-check-circle" aria-hidden="true"></i></p>
                                <div class="clear"></div>
                            </div>
                            
                            <div class="order_desc_W">
                                <div class="orderConfirmationBox">
                                    <p>You will receive a confirmation email with your order details shortly. Thank you for your business.</p>
                                </div>
                            </div>
                            <div class="btnWrapper">
                               <!-- <div class="button style-10">Continue shopping</div></div> -->
                               <a href="/shop"><div class="thankYouContinuousShopbtn addToCartBtn button style-10">Continue shopping <!-- <i class="fa fa-long-arrow-right" aria-hidden="true"></i> --><img src="assets/images/icons/continue-shop-next.svg" alt="Next arrow" title=""></div></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</div>