<div id="content-block" class="homePage">
    <app-header></app-header>
  
  
    <div class="content-push">
      <div class="homeBanner">
          <div class="homeBannerInn slider_initialize">
              <div class="bannerSlides">
                  <div class="bannerContent">
                      <h1 class="pageTitle ">Monochrome Perfection</h1>
                      <a href="/shop"><div class="animatedBtn">Shop Now</div></a>
                  </div>
                  <div class="bannerImg">
                      <img class="mainBannerDesktop zoomOut lazyload" src="assets/images/desktopBanner3.jpg" title="Banner" alt="Banner">
                      <img class="mainBannerMobile zoomOut lazyload" src="assets/images/womenswear--mobile-banner3.jpg" title="Banner" alt="Banner" >
                  </div>
              </div>
          </div>
      </div>
  
    </div>
  
    <div class="content-center">
        <div class="productSection productBestSeller topBottomSpacing bottomSpacing0">
            <div class="sectionHeader">
                <div class="mainHeader pageTitle">Best Sellers</div>
            </div>
            
            <div class="productSlider slider_initialize">
              <div class="productSlide">
                  <div class="productBox">
                      <div class="productBoxLabel">
                          <div class="productBoxLabelText pageTitle"> On Sale</div>
                     </div>
                      <a href="product-inner">
                          <div class="productImage">
                              <img src="assets/images/products/product-11.jpg" alt="Product" title="">
                              <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                          </div>
                          <div class="productDesc">
                              <div class="productHeading">
                                  <div class="productMainHeading pageTitle">Floral Dress</div>
                              </div>
                              <div class="productPricing">
                                  <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                  <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="productSlide">
                  <div class="productBox">
                      <div class="productBoxLabel">
                          <div class="productBoxLabelText pageTitle"> On Sale</div>
                     </div>
                      <a href="product-inner">
                          <div class="productImage">
                              <img src="assets/images/products/product-22.jpg" alt="Product" title="">
                              <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                          </div>
                          <div class="productDesc">
                              <div class="productHeading">
                                  <div class="productMainHeading pageTitle">Tropical Dress</div>
                              </div>
                              <div class="productPricing">
                                  <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                  <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="productSlide">
                  <div class="productBox">
                      <div class="productBoxLabel">
                          <div class="productBoxLabelText pageTitle"> On Sale</div>
                     </div>
                      <a href="product-inner">
                          <div class="productImage">
                              <img src="assets/images/products/product-33.jpg" alt="Product" title="">
                              <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                          </div>
                          <div class="productDesc">
                              <div class="productHeading">
                                  <div class="productMainHeading pageTitle">Olive Dress</div>
                              </div>
                              <div class="productPricing">
                                  <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                  <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="productSlide">
                  <div class="productBox">
                      <div class="productBoxLabel">
                          <div class="productBoxLabelText pageTitle"> On Sale</div>
                     </div>
                      <a href="product-inner">
                          <div class="productImage">
                              <img src="assets/images/products/product-11.jpg" alt="Product" title="">
                              <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                          </div>
                          <div class="productDesc">
                              <div class="productHeading">
                                  <div class="productMainHeading pageTitle"> Floral Dress</div>
                              </div>
                              <div class="productPricing">
                                  <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                  <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="productSlide">
                  <div class="productBox">
                      <div class="productBoxLabel">
                          <div class="productBoxLabelText pageTitle"> On Sale</div>
                     </div>
                      <a href="product-inner">
                          <div class="productImage">
                              <img src="assets/images/products/product-22.jpg" alt="Product" title="">
                              <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                          </div>
                          <div class="productDesc">
                              <div class="productHeading">
                                  <div class="productMainHeading pageTitle">Tropical Dress</div>
                              </div>
                              <div class="productPricing">
                                  <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                  <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
  
            <div class="sectionButtonfooter">
                <a href="/shop"><div class="animatedBtn black">ALL Products</div></a>
            </div>
        </div>
    </div>
  
    <div class="productCategoriesSection topBottomSpacing bottomSpacing0">
        <div class="row">
            <div class="col-md-4">
                <a href="/shop">
                    <div class="productCatBox">
                        <div class="productBoxCotent">
                            <div class="productCatName pageTitle">ACCESSORIES</div>
                          <div class="animatedBtn">Shop Now</div>
                        </div>
                        <img src="assets/images/product-cat-11.jpg" alt="Product Category">
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/shop">
                    <div class="productCatBox">
                        <div class="productBoxCotent">
                            <div class="productCatName pageTitle">WINTER</div>
                          <div class="animatedBtn">Shop Now</div>
                        </div>
                        <img src="assets/images/product-cat-22.jpg" alt="Product Category">
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/shop">
                    <div class="productCatBox">
                        <div class="productBoxCotent">
                            <div class="productCatName pageTitle">NEW IN</div>
                          <div class="animatedBtn">Shop Now</div>
                        </div>
                        <img src="assets/images/product-cat-33.jpg" alt="Product Category">
                    </div>
                </a>
            </div>
        </div>
    </div>
  
    <div class="content-center">
      <div class="productSection productBestSeller topBottomSpacing bottomSpacing0">
          <div class="sectionHeader">
              <div class="mainHeader pageTitle">New Arrivals</div>
          </div>
          
          <div class="productSlider slider_initialize">
            <div class="productSlide">
                <div class="productBox">
                    <div class="productBoxLabel">
                        <div class="productBoxLabelText pageTitle"> On Sale</div>
                  </div>
                    <a href="product-inner">
                        <div class="productImage">
                            <img src="assets/images/products/product-11.jpg" alt="Product" title="">
                            <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                        </div>
                        <div class="productDesc">
                            <div class="productHeading">
                                <div class="productMainHeading pageTitle">Floral Dress</div>
                            </div>
                            <div class="productPricing">
                                <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="productSlide">
                <div class="productBox">
                    <div class="productBoxLabel">
                        <div class="productBoxLabelText pageTitle"> On Sale</div>
                  </div>
                    <a href="product-inner">
                        <div class="productImage">
                            <img src="assets/images/products/product-22.jpg" alt="Product" title="">
                            <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                        </div>
                        <div class="productDesc">
                            <div class="productHeading">
                                <div class="productMainHeading pageTitle">Tropical Dress</div>
                            </div>
                            <div class="productPricing">
                                <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="productSlide">
                <div class="productBox">
                    <div class="productBoxLabel">
                        <div class="productBoxLabelText pageTitle"> On Sale</div>
                  </div>
                    <a href="product-inner">
                        <div class="productImage">
                            <img src="assets/images/products/product-33.jpg" alt="Product" title="">
                            <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                        </div>
                        <div class="productDesc">
                            <div class="productHeading">
                                <div class="productMainHeading pageTitle">Olive Dress</div>
                            </div>
                            <div class="productPricing">
                                <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="productSlide">
                <div class="productBox">
                    <div class="productBoxLabel">
                        <div class="productBoxLabelText pageTitle"> On Sale</div>
                  </div>
                    <a href="product-inner">
                        <div class="productImage">
                            <img src="assets/images/products/product-11.jpg" alt="Product" title="">
                            <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                        </div>
                        <div class="productDesc">
                            <div class="productHeading">
                                <div class="productMainHeading pageTitle"> Floral Dress</div>
                            </div>
                            <div class="productPricing">
                                <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="productSlide">
                <div class="productBox">
                    <div class="productBoxLabel">
                        <div class="productBoxLabelText pageTitle"> On Sale</div>
                  </div>
                    <a href="product-inner">
                        <div class="productImage">
                            <img src="assets/images/products/product-22.jpg" alt="Product" title="">
                            <img class="alternateProuctImg" src="assets/images/products/product-44.jpg" alt="Product" title="">
                        </div>
                        <div class="productDesc">
                            <div class="productHeading">
                                <div class="productMainHeading pageTitle">Tropical Dress</div>
                            </div>
                            <div class="productPricing">
                                <span class="productPrice priceHighlight pageTitle">&#8377;9.190</span>
                                <span class="productPrice discountPrice pageTitle">&#8377;10.290</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
  
          <div class="sectionButtonfooter">
              <a href="/shop"><div class="animatedBtn black">ALL Products</div></a>
          </div>
      </div>
    </div>
  
    <div class="instagramSection topBottomSpacing bottomSpacing0">
        <div class="sectionHeader">
            <div class="subHeader pageTitle">@fashion</div>
            <div class="mainHeader pageTitle">FOLLOW US</div>
        </div>
        <div class="instagramSlider slider_initialize">
            <div class="instaFeedBox">
                <div class="dummyInsta">
                    <div class="instaFeedInOverlayTable" style="background-image: url('assets/images/insta-11.jpg')">
  
                        <div class="Instafeed__Overlay"><span class="Instafeed__LikeCount">
                            <svg class="Icon Icon--heart" viewBox="0 0 17 15" role="presentation"><path d="M15.0349331 1.40485867C14.1287273.49933787 12.9252477 0 11.6443673 0S9.16000731.49933787 8.25448651 1.40417371c-.01164437.01164436-.02328874.02328873-.03493311.03561806-.01164436-.01232933-.02260377-.02328873-.03424813-.0349331C7.2790995.49933787 6.07561989 0 4.79473949 0 3.51385908 0 2.31037947.49933787 1.40417371 1.40485867.49796794 2.31037947 0 3.51385908 0 4.79473949 0 6.07561989.4986529 7.2790995 1.40417371 8.1846203L8.2195534 15l6.8153797-6.8153797c.9055208-.9055208 1.4041737-2.10900041 1.4041737-3.38988081 0-1.28019545-.4986529-2.48436002-1.4041737-3.38988082z"></path></svg>28 likes</span><p class="Instafeed__Caption">Gaudí Boots para combinar con todo! 
                            Cuero marrón oxidado, con detalles de cuero chocolate.
                            Chequeá nuestros modelos en www.walkinberlin.com.ar</p>
                            <time class="Instafeed__Date Heading u-h6">March 20, 2020</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instaFeedBox">
                <div class="dummyInsta">
                    <div class="instaFeedInOverlayTable" style="background-image: url('assets/images/insta-22.jpg')">
  
                        <div class="Instafeed__Overlay"><span class="Instafeed__LikeCount">
                            <svg class="Icon Icon--heart" viewBox="0 0 17 15" role="presentation"><path d="M15.0349331 1.40485867C14.1287273.49933787 12.9252477 0 11.6443673 0S9.16000731.49933787 8.25448651 1.40417371c-.01164437.01164436-.02328874.02328873-.03493311.03561806-.01164436-.01232933-.02260377-.02328873-.03424813-.0349331C7.2790995.49933787 6.07561989 0 4.79473949 0 3.51385908 0 2.31037947.49933787 1.40417371 1.40485867.49796794 2.31037947 0 3.51385908 0 4.79473949 0 6.07561989.4986529 7.2790995 1.40417371 8.1846203L8.2195534 15l6.8153797-6.8153797c.9055208-.9055208 1.4041737-2.10900041 1.4041737-3.38988081 0-1.28019545-.4986529-2.48436002-1.4041737-3.38988082z"></path></svg>28 likes</span><p class="Instafeed__Caption">Gaudí Boots para combinar con todo! 
                            Cuero marrón oxidado, con detalles de cuero chocolate.
                            Chequeá nuestros modelos en www.walkinberlin.com.ar</p>
                            <time class="Instafeed__Date Heading u-h6">March 20, 2020</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instaFeedBox">
                <div class="dummyInsta">
                    <div class="instaFeedInOverlayTable" style="background-image: url('assets/images/insta-44.jpg')">
  
                        <div class="Instafeed__Overlay"><span class="Instafeed__LikeCount">
                            <svg class="Icon Icon--heart" viewBox="0 0 17 15" role="presentation"><path d="M15.0349331 1.40485867C14.1287273.49933787 12.9252477 0 11.6443673 0S9.16000731.49933787 8.25448651 1.40417371c-.01164437.01164436-.02328874.02328873-.03493311.03561806-.01164436-.01232933-.02260377-.02328873-.03424813-.0349331C7.2790995.49933787 6.07561989 0 4.79473949 0 3.51385908 0 2.31037947.49933787 1.40417371 1.40485867.49796794 2.31037947 0 3.51385908 0 4.79473949 0 6.07561989.4986529 7.2790995 1.40417371 8.1846203L8.2195534 15l6.8153797-6.8153797c.9055208-.9055208 1.4041737-2.10900041 1.4041737-3.38988081 0-1.28019545-.4986529-2.48436002-1.4041737-3.38988082z"></path></svg>28 likes</span><p class="Instafeed__Caption">Gaudí Boots para combinar con todo! 
                            Cuero marrón oxidado, con detalles de cuero chocolate.
                            Chequeá nuestros modelos en www.walkinberlin.com.ar</p>
                            <time class="Instafeed__Date Heading u-h6">March 20, 2020</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instaFeedBox">
                <div class="dummyInsta">
                    <div class="instaFeedInOverlayTable" style="background-image: url('assets/images/insta-55.jpg')">
  
                        <div class="Instafeed__Overlay"><span class="Instafeed__LikeCount">
                            <svg class="Icon Icon--heart" viewBox="0 0 17 15" role="presentation"><path d="M15.0349331 1.40485867C14.1287273.49933787 12.9252477 0 11.6443673 0S9.16000731.49933787 8.25448651 1.40417371c-.01164437.01164436-.02328874.02328873-.03493311.03561806-.01164436-.01232933-.02260377-.02328873-.03424813-.0349331C7.2790995.49933787 6.07561989 0 4.79473949 0 3.51385908 0 2.31037947.49933787 1.40417371 1.40485867.49796794 2.31037947 0 3.51385908 0 4.79473949 0 6.07561989.4986529 7.2790995 1.40417371 8.1846203L8.2195534 15l6.8153797-6.8153797c.9055208-.9055208 1.4041737-2.10900041 1.4041737-3.38988081 0-1.28019545-.4986529-2.48436002-1.4041737-3.38988082z"></path></svg>28 likes</span><p class="Instafeed__Caption">Gaudí Boots para combinar con todo! 
                            Cuero marrón oxidado, con detalles de cuero chocolate.
                            Chequeá nuestros modelos en www.walkinberlin.com.ar</p>
                            <time class="Instafeed__Date Heading u-h6">March 20, 2020</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <app-footer></app-footer>
  
  </div>